* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* 기본 마크업 */
#root {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#Hamburger {
  width: 20vw;
  height: 100vh;
}

/* Hamburger는 가로를 3등분했을때 왼쪽섹터를 의미한다 */
#LeftBox {
  width: 50vw;
  height: 100vh;
}

/* LeftBox는 가로를 3등분했을때 중앙섹터를 의미한다 */
#RightBox {
  width: 30vw;
  text-align: center;
}

/* RightBox는 가로를 3등분했을때 오른쪽섹터를 의미한다 */
#LeftBox_Top {
  height: 80vh;
  background-color: beige;
}

#LeftBox_Bottom {
  height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

/* 중앙 css */


#PromptBox {
  width: 800px;
}
/* LeftBox_Bottom 하단 prompt작성 부분 */
#categorybox {
  width: 700px;
  /* background-color: aliceblue; */
  height: 50px;
  margin-right: 100px;
  display: flex;
  justify-content: space-around;
}
#categorybox li {
  width: 100px;
  height: 50px;
  background-color: white;
  list-style: none;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  border-radius: 20px;
  color: brown
}
#PostForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 800px;
  margin-bottom: 50px;
}
/* Form박스 설정 */

#data {
  width: 730px;
  height: 90px;
  font-size: 40px;
  font-style: italic;
  border-radius: 15px;
  border-style: none;
}
/* prompt창 디자인 설정  */

#Button {
  width: 80px;
  height: 80px;
  margin-left: 20px;
  border-radius: 40px;
  border-style: none;
}
/* submit 버튼의 디지인 설정 */

/* 하단은 햄버거 메뉴설정 */

.hamburger {
  position: relative;
  display: block;
  width: 30px;
  cursor: pointer;
  margin: 20px;
  z-index: 2;
}
.bar {
  background-color: #333;
  height: 3px;
  margin: 5px 0;
  /* 각 .bar 요소 사이에 간격을 주려면 여기서 조절합니다. */
}
/* hamburger 메뉴 디자인 설정 */
.menu {
  position: fixed;
  top: 0;
  left: -250px;
  width: 0px;
  height: 100%;
  background-color: #333;
  overflow-y: auto;
  padding: 20px;
  transition: 0.5s;
}
/* 슬라이드가 보이지 않았을때의 설정 */
.show-menu {
  position: fixed;
  top: 0;
  left: 0px;
  width: 20vw;
  height: 100%;
  background-color: #fff;
  overflow-y: auto;
  padding: 20px;
  transition: 0.5s;
  z-index: 1;
}
/* 슬라이드가 보였을때의 설정 */
ul {
  list-style: none;
  padding: 0;
}
/* 메뉴창안의 ul 기본설정 */

#hamburgerproperty li {
  margin-top: 50px;
  color: black;
  font-size: 20px;
}
/* 슬라이드 내의 상단 메뉴 */

#userInfo {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 550px;
}
#userInfo li {
  color: black;
  font-size: 30px;
}
/* 슬라이드 내의 하단 유저정보 및 설정 */

/* 상단의 배경화면 체인지 버튼 */
#changebg {
  display: flex;
  justify-content: end
}
#darkmode,
#daymode,
#custommode
{
  width: 50px;
  height: 50px;
  margin: 10px;
}