* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
}

#LeftBox {
  width: 70vw;
  height: 100vh;
}

#RightBox {
  width: 30vw;
}

#LeftBox_Top {
  height: 70vh;

}

#LeftBox_Bottom {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

#CategoryBox {
  background-color: aliceblue;
  width: 500px;
  height: 10vh;
}

#PromptBox {
  background-color: gray;
  width: 500px;
}

#PostForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

#data {
  width: 450px;
  height: 50px;
}

#Button {
  width: 50px;
  height: 30px;
  margin-left: 20px;
}