* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#root {
  background-color: gray;
  width: 100vw;
  height: 100vh;
  display: flex;
}
#Hamburger {
  width: 20vw;
  height: 100vh;
}
#LeftBox {
  width: 50vw;
  height: 100vh;
}

#RightBox {
  width: 30vw;
  text-align: center;
}

#LeftBox_Top {
  height: 70vh;

}

#LeftBox_Bottom {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

#PromptBox {
  background-color: gray;
  width: 800px;

}

#PostForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 800px;
  margin-bottom: 50px;
}

#data {
  width: 730px;
  height: 90px;
  font-size: 40px;
  font-style: italic;
}

#Button {
  width: 50px;
  height: 30px;
  margin-left: 20px;
}
/* 햄버거 메뉴 */

.hamburger {
  display: block;
  width: 30px;
  cursor: pointer;
  margin: 20px;
}

.bar {
  background-color: #333;
  height: 3px;
  margin: 5px 0; /* 각 .bar 요소 사이에 간격을 주려면 여기서 조절합니다. */
}

.menu {
  display: none;
  position: fixed;
  top: 0;
  left: -250px;
  width: 250px;
  height: 100%;
  background-color: #333;
  overflow-y: auto;
  padding: 20px;
  transition: 0.5s;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  margin: 10px 0;
}

a {
  text-decoration: none;
  color: #fff;
}
.menu.show-menu {
  left: 0;
}